@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* ฟอนต์ */
body {
    font-family: 'Prompt', sans-serif;
   
    
}
b {
    font-weight: 500;
}


    

/* แถบบาร์บน */
 .navbar-top{
z-index: 1;
max-width: 100%;
border-top: #9d0000 solid 15px;
box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}



/* แถบบาร์โลโก้ */
.logo{
    max-width: 100%;
    max-height: 8rem;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.logo img{
    transition: opacity 0.5s ease-out;
    vertical-align: middle;
}
/* แถบบาร์หลัก */
.navbar-main{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-toggler{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
}
.navbar-toggler-icon span{
    color: #000000;
}

/*  */
.nav-link{
display: flex;
position: relative;
color: rgb(0, 0, 0);    
font-size: 18px;
padding: 0;
margin: 0;
box-sizing: border-box;
margin: 0 15px;
}




.nav-link::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #9d0000;    
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    transition: .4s;
   top: 25px;
}
.nav-link:hover:after{
    width: 80%;
}

.nav-link:hover{
    color: #9d0000;
}
.nav-link:focus{
    color: #9d0000;
}
.nav-link.active{
    color: #ffffff;
}
.dropdown-toggle{
    color: rgb(0, 0, 0);
}












.card {
    margin-top: 20px;
    border: #9d0000 solid 3px;
   
}

/* หัวข้อขข่าวกีฬาเปตอง */
.newspetanque {
    margin-top: 5px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-align: start;
    position: absolute;
}
/* ส่วนท้าย */
.bannerfooter {
    background-image: url(/img/footer.png);
    background-color: #ffffff;
    text-align: right;
    color: rgba(0, 0, 0, 0.933);
    padding: 10px;  
}

.sponsorfooter{
    justify-content: center;
    padding: 20px;
    background-color: #eaeaea;
    border-top: #9d0000 solid 5px;
}

.sponsortext{
    color: #000000;
    text-align: center;
  
}
/* ปุ่มสมัครชมรม */
.register{
    text-align: end;
    padding-left: 20px;
    
}

/* สปอนเซอร์ 1 */
.sponsor-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sponsor-1:hover {
	cursor: pointer;
}
.sponsor-1 img {
	filter: grayscale(100%);
	width: 100%;
	height: 100%;
	transition: filter 0.1s;
}
.sponsor-1:hover img {
    filter: grayscale(0%);
    width: 100%;
	height: 100%;
}

/* สปอนเซอร์ 2 */
.sponsor-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sponsor-2:hover {
	cursor: pointer;
}
.sponsor-2 img {
	filter: grayscale(100%);
	width: 100%;
	height: 100%;
	transition: filter 0.1s;
}
.sponsor-2:hover img {
    filter: grayscale(0%);
    width: 100%;
	height: 100%;
}

/* สปอนเซอร์ 3 */
.sponsor-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sponsor-3:hover {
	cursor: pointer;
}
.sponsor-3 img {
	filter: grayscale(100%);
	width: 100%;
	height: 100%;
	transition: filter 0.1s;
}
.sponsor-3:hover img {
    filter: grayscale(0%);
    width: 100%;
	height: 100%;
}

/* สปอนเซอร์ 4 */
.sponsor-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sponsor-4:hover {
	cursor: pointer;
}
.sponsor-4 img {
	filter: grayscale(100%);
	width: 100%;
	height: 100%;
	transition: filter 0.1s;
}
.sponsor-4:hover img {
    filter: grayscale(0%);
    width: 100%;
	height: 100%;
}

.titletext{
    text-align: center;
    padding-bottom: 20px;
}

.nametext{
   padding-top: 10px;
    margin: 0;
    text-align: center;
}
.positiontext{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

/* ประโยคคำพูด */
.quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 1em;
  }

  /* google map */
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .mapposition{
      display: flex;
    align-items: center;
    
  }
 

  /*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 50px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
   
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 0px;
    height: 100%;
   
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
   /*  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px; */
    
  }

  #cards_landscape_wrap-2 .card-flyer .image-box-main{
    background: #ffffff;
    overflow: hidden;
   /*  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px; */
    
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
  }

  #cards_landscape_wrap-2 .card-flyer .image-box-main img{
    transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 400px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }

  #cards_landscape_wrap-2 .card-flyer:hover .image-box-main img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;

  }

  #cards_landscape_wrap-2 .card-flyer .text-box .text-container-main{
    padding: 10px 10px;
    height: 100%;
    
    
  }

  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    border: #9d0000 solid 3px;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
/*     box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
 */    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }


  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    color: #9d0000;
    text-align: start;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box-main h6{
    margin-top: 10px;
    margin-bottom: 3px; 
    margin-left: 10px;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    color: #9d0000;
    text-align: start;
  }

/* ปุ่มกด */
.button-main{
    height: 200px;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

.button-main button{
    height:50px;
    width:350px;
    background-color:#ffF;
    border:3px solid #9d0000;
    position:relative;
    overflow:hidden;
    color:#9d0000;
    font-size:18px;
    font-weight: bold;
    border-radius:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition-duration: 1s;
}
.button-main button:hover{
    height:50px;
    width:350px;
    background-color:#ffF;
    border:3px solid #9d0000;
    position:relative;
    overflow:hidden;
    color:#fff;
    font-size:18px;
    font-weight: bold;
    border-radius:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.button-main button span{
     z-index:10;
    
}

.button-main button:hover:before{
    position:absolute;
    content:'';
    border-radius:1px;
    background-color:#9d0000;;    
    height:400px;
    width:400px;
    top:-12px;
    left:-13px;
    


}

.button-main button:before{
    position:absolute;
    content:'';
    border-radius:50% 50% ;
    background-color:#9d0000;;
    height:50px;
    width:50px;
    top:100px;
    left:75px    ;
    transition:ease-in 0.5s ;
    transform: scale(3);
    transition-duration: 0.5s ;
    
}

/* สไลด์*/
.carousel .carousel-indicators button {
width: 20px;
height: 20px;
border-radius: 100%;
}

.carousel .carousel-caption h2{
    margin-bottom: 20px;
}

.carousel{
    margin-top: 70px;
}

